@font-face {
  font-family: '000webfont';
  src: url('../assets/fonts/000webfont.ttf');
}

@font-face {
  font-family: basiic;
  src: url('../assets/fonts/basiic.ttf');
}

@font-face {
  font-family: Cherish;
  src: url('../assets/fonts/Cherish.ttf');
}

@font-face {
  font-family: heartfont;
  src: url('../assets/fonts/heartfont.ttf');
}

@font-face {
  font-family: virale;
  src: url('../assets/fonts/virale.ttf');
}
