<div class="header" style="width: 100vw">
  <h1>Natasha's Space!</h1>
</div>
<div class="left">
  <div class="me">
    <img src="assets/images/chibi.png" alt="My chibi" class="chibi" />
    <div class="quote">
      {{ quote }}
      <button class="quote-button" (click)="refreshQuote()">New</button>
    </div>
  </div>
</div>
<div class="main-page">
  <router-outlet></router-outlet>
</div>
<div class="right">
  <nav class="navbar">
    <a *ngFor="let link of navbarLinks" [routerLink]="link.path" routerLinkActive="active">{{ link.label }}</a>
  </nav>
</div>
