#statuscafe {
  padding: 0.5em;
  background-color: azure;
  border: 1px solid hotpink;
}
#statuscafe-username {
  margin-bottom: 0.5em;
}
#statuscafe-content {
  margin: 0 1em 0.5em 1em;
}

.intro {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 24px;
  > img {
    margin-right: 2rem;
  }
}

.blinkies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
