<h4 class="heading">
  <img src="assets/images/heart.gif" alt="bouncing heart" />
  Welcome to my space!
  <img src="assets/images/heart.gif" alt="bouncing heart" />
</h4>
<div class="intro">
  <img src="assets/images/rainbowbfly.gif" alt="rainbow butterfly" />
  <p>
    Welcome to my little place. This is still being fleshed out, so bear with
    me! This is an LGBT+ friendly space, ACAB, Black Lives Matter, TERFs will be
    deleted from existence with my godlike powers.
  </p>
</div>
<hr />

<h5>Current Status</h5>
<div id="statuscafe">
  <div id="statuscafe-username"></div>
  <div id="statuscafe-content"></div>
</div>
